<div class="timeline-event bs-callout-status-{{ special_event.status }}">
    <span class="timeline-event-employee-name"><a href="{{ path('employee_show', { 'id' : special_event.employee.id }) }}">{{ special_event.employee.firstName }} {{ special_event.employee.lastName }}</a></span> had <a href="{{ path('attendance_tag_show', { "id" : oneOnOneTagId }) }}">1 on 1</a>.
    {% if special_event.comment is not empty %}Notes: <span class="timeline-event-comment">{{ special_event.comment }}</span>{% endif %}
</div>