<div class="timeline-event bs-callout-status-{{ special_event.status }}">
    <span class="timeline-event-employee-name"><a href="{{ path('employee_show', { 'id' : special_event.employee.id }) }}">{{ special_event.employee.firstName }} {{ special_event.employee.lastName }}</a></span> was working remotely.
    {% if special_event.comment is not empty %}Reason: <span class="timeline-event-comment">{{ special_event.comment }}</span>{% endif %}
</div>