{% extends 'base.html.twig' %}

{% block title %}Attendance{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-12">

                        <span class="employee-table-choose-period-label">Choose period: <input type="text" name="daterange" value="{{ dateRangePickerStartDate }} - {{ dateRangePickerEndDate }}" /></span>

            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-6 col-md-4 col-lg-2">
                <div class="employee-table-raw">
                    <span class="employee-table-raw-name"></span>
                </div>
                <div class="employee-table-raw">
                    <span class="employee-table-raw-name"></span>
                </div>
                <div class="employee-table-raw">
                    <span class="employee-table-raw-name"></span>
                </div>
                {% for employee in employees %}
                    <div class="employee-table-raw">
                        <span class="employee-table-raw-name" data-employee="{{ employee.id }}"><a href="{{ path('employee_show', { 'id' : employee.id }) }}">{{ employee.firstName }} {{ employee.lastName }}</a></span>
                    </div>
                {% endfor %}
            </div>
            <div class="col-6 col-md-8 col-lg-10">
                <div class="outer">
                    <div class="employee-table-raw">
                        {% for month, num_days in months %}<span class="employee-table-raw-month" style="width: {{ num_days * 32 - 1 }}px;">{{ month }}</span>{%  endfor %}
                    </div>

                    <div class="employee-table-raw">
                        {% for day in days %}<a href="/attendance/fill_all/{{ day.full_date }}/{{ defaultStatus }}"><span class="employee-table-raw-weekday" data-attendancedate="{{ day.full_date }}">{{ day.weekday }}</span></a>{%  endfor %}
                    </div>

                    <div class="employee-table-raw">
                        {% for day in days %}<a href="/attendance/fill_all/{{ day.full_date }}/{{ defaultStatus }}"><span class="employee-table-raw-day" data-attendancedate="{{ day.full_date }}">{{ day.day }}</span></a>{%  endfor %}
                    </div>

                    {% for employee in employees %}
                        <div class="employee-table-raw">
                            {% for attendance in employee.attendances %}<a href="{{ attendance.link }}"><span class="employee-table-raw-attendance attendance-status-{{ attendance.status }}" data-employee="{{ employee.id }}" data-attendancedate="{{ attendance.date }}"></span></a>{% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col timeline">
                <h3 class="timeline-title">Timeline</h3>
                {% set last_date = '' %}
                {% for special_event in special_events %}
                    {% if last_date != special_event.date|date("Y-m-d")  %}
                        <h4 class="timeline-date">{{ special_event.date|date("l, d. F Y.") }}</h4>
                        {% set last_date = special_event.date|date("Y-m-d") %}
                    {% endif %}

                    {% if special_event.IsOneOnOne %}
                        {% include 'default/special_events/one-on-one.html.twig'  %}
                    {% elseif special_event.IsSick %}
                        {% include 'default/special_events/sick.html.twig'  %}
                    {% elseif special_event.status == 3 %}
                        {% include 'default/special_events/absent.html.twig'  %}
                    {% elseif special_event.status == 2 %}
                        {% include 'default/special_events/remote.html.twig'  %}
                    {% else %}
                        <div class="timeline-event bs-callout-status-{{ special_event.status }}">
                            <span class="timeline-event-employee-name"><a href="{{ path('employee_show', { 'id' : special_event.employee.id }) }}">{{ special_event.employee.firstName }} {{ special_event.employee.lastName }}</a>:</span> <span class="timeline-event-comment">{{ special_event.comment }}</span>
                        </div>
                    {%  endif %}


                {% endfor %}
            </div>
        </div>
    </div>
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}

    {% endblock %}
{% endblock %}