
.attendance-form {

  &-date-info {
    color: #7e7e7e;
    font-size: 80%;
    font-style: italic;
  }

  textarea {
    &.form-control {
      height: 120px;
    }
  }

}


  .attendance-color-chooser-box {

    width: $attendanceBoxSize * 4;
    height: $attendanceBoxSize;
    line-height: $attendanceBoxSize;
    font-size: $attendanceBoxSize * 0.6;
    color: #7e7e7e;
    padding-left: $attendanceBoxSize * 0.25;
    margin: 10px auto;
    border-top: none;
    border-bottom: none;
    border-right: none;

    &:hover {
      cursor: pointer;
    }

    &.attendance-status-1 {
      border-left: $attendanceBoxSize solid $colorOffice;

      &:hover,
      &.selected {
        border-top: 1px solid $colorOffice;
        border-bottom: 1px solid $colorOffice;
        border-right: 1px solid $colorOffice;
      }

    }

    &.attendance-status-2 {
      border-left: $attendanceBoxSize solid $colorRemote;

      &:hover,
      &.selected {
        border-top: 1px solid $colorRemote;
        border-bottom: 1px solid $colorRemote;
        border-right: 1px solid $colorRemote;
      }

    }

    &.attendance-status-3 {
      border-left: $attendanceBoxSize solid $colorAbsent;

      &:hover,
      &.selected {
        border-top: 1px solid $colorAbsent;
        border-bottom: 1px solid $colorAbsent;
        border-right: 1px solid $colorAbsent;
      }

    }

    &.attendance-status-4 {
      border-left: $attendanceBoxSize solid $colorVacation;

      &:hover,
      &.selected {
        border-top: 1px solid $colorVacation;
        border-bottom: 1px solid $colorVacation;
        border-right: 1px solid $colorVacation;
      }

    }&.attendance-status-5 {
       border-left: $attendanceBoxSize solid $colorNonWorking;

       &:hover,
       &.selected {
         border-top: 1px solid $colorNonWorking;
         border-bottom: 1px solid $colorNonWorking;
         border-right: 1px solid $colorNonWorking;
       }

     }



  }
