.employee {

  &-table {
    border-top: 1px solid #dedede;
    padding: 0;
    margin: 0;

    &-raw {
      height: $attendanceBoxSize;
      line-height: $attendanceBoxSize;
      font-size: $attendanceBoxSize * 0.6 + 2;
      border-bottom: 1px solid #dedede;
      padding: 0;
      margin: 0;

      &-name {
        display: inline-block;
        width: 100%;
        height: $attendanceBoxSize;
        line-height: $attendanceBoxSize;
        padding: 0;
        margin: 0;
        vertical-align: middle;

        &.highlighted {
          border: 1px solid red;
        }

      }

      &-attendance {
        display: inline-block;
        width: $attendanceBoxSize;
        height: $attendanceBoxSize;
        vertical-align: middle;
        border-left: 1px solid white;
        border-right: 1px solid white;
        border-top: none;
        border-bottom: none;
        margin: 0;
        padding: 0;
        float: none;
        zoom: 1;
        opacity: 0.7;

        &.highlighted {
          opacity: 1;
        }

        &.attendance-status {
          &-0 {
            background-color: $colorNoInfo;
          }
          &-1 {
            background-color: $colorOffice;
          }
          &-2 {
            background-color: $colorRemote;
          }
          &-3 {
            background-color: $colorAbsent;
          }
          &-4 {
            background-color: $colorVacation;
          }
          &-5 {
            background-color: $colorNonWorking;
          }
        }

      }

      &-day {
         display: inline-block;
         width: $attendanceBoxSize;
         height: $attendanceBoxSize;
         vertical-align: middle;
         text-align: center;
         font-size: $attendanceBoxSize * 0.6;
         color: #7e7e7e;
         border-left: 1px solid white;
         border-right: 1px solid white;
         border-top: none;
         border-bottom: none;
         margin: 0;
         padding: 0;

         &.highlighted {
           border: 1px solid red;
         }

       }

      &-weekday {
        display: inline-block;
        width: $attendanceBoxSize;
        height: $attendanceBoxSize;
        vertical-align: middle;
        text-align: center;
        font-size: $attendanceBoxSize * 0.4;
        color: #7e7e7e;
        border-left: 1px solid white;
        border-right: 1px solid white;
        border-top: none;
        border-bottom: none;
        margin: 0;
        padding: 0;

        &.highlighted {
          border: 1px solid red;
        }

      }

      &-month {
        display: inline-block;
        height: $attendanceBoxSize;
        vertical-align: middle;
        text-align: center;
        font-size: $attendanceBoxSize * 0.6;
        color: #7e7e7e;
        border-right: 1px solid #dedede;
        margin: 0;
        padding: 0;
      }

    }

  }

}

.timeline {

  &-title {

  }

  &-date {
    font-size: 1.2rem;
    color: #7e7e7e;
  }

  &-event {
    border-left-width: 5px;
    border-left-style: solid;
    padding: 0 0 0 10px;
    margin: 10px 0;
  }

}



.outer {
  width: 100%;
  white-space: nowrap;
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}