{% extends 'base.html.twig' %}

{% block title %}User profile edit{% endblock %}

{% block body %}

    <div class="container">
        <h1>User profile</h1>

        {% for flashKey in app.session.flashBag.keys %}
            <div class="alert alert-block flash-container alert-{{ flashKey }}">
                {% for flash in app.session.flashBag.get(flashKey) %}
                    {{ flash|trans|raw }}
                {% endfor %}
            </div>
        {% endfor %}

        <div class="card mb-4">

            <div class="card-body">
                <h5 class="card-title">Choose company</h5>

                <div class="row justify-content-md-start">
                    <div class="col">
                        <p class="card-text">Quickly select a company that you want to manage.</p>
                    </div>
                </div>

                {{ form_start(company_form) }}

                <div class="row justify-content-md-start">
                    <div class="col-4">
                        {{ form_widget(company_form) }}
                    </div>
                </div>

                <div class="row justify-content-md-start mt-2">
                    <div class="col-4">
                        <input type="submit" class="btn btn-primary" value="Save choice" />
                    </div>
                </div>


                {{ form_end(company_form) }}

            </div>
        </div>


        <div class="card mt-4">

            <div class="card-body">
                <h5 class="card-title">Company settings</h5>

                <div class="row justify-content-md-start">
                    <div class="col">
                        <p class="card-text">Change settings for company <b>{{ company.name }}</b></p>
                    </div>
                </div>

                {{ form_start(company_settings_form) }}

                <div class="row justify-content-md-start">
                    <div class="col-4">
                        {{ form_widget(company_settings_form) }}
                    </div>
                </div>

                <div class="row justify-content-md-start mt-2">
                    <div class="col-4">
                        <input type="submit" class="btn btn-primary" value="Save" />
                    </div>
                </div>


                {{ form_end(company_settings_form) }}

            </div>
        </div>



        <hr />

        <h2></h2>
    </div>



{% endblock %}
