{% extends 'base.html.twig' %}

{% block title %}Edit EmployeeTag{% endblock %}

{% block body %}
    <h1>Edit EmployeeTag</h1>

    {{ include('employee_tag/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('employee_tag_index') }}">back to list</a>

    {{ include('employee_tag/_delete_form.html.twig') }}
{% endblock %}
