{% extends 'base.html.twig' %}

{% block title %}EmployeeTag index{% endblock %}

{% block body %}
    <h1>EmployeeTag index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Slug</th>
                <th>Position</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for employee_tag in employee_tags %}
            <tr>
                <td>{{ employee_tag.id }}</td>
                <td>{{ employee_tag.name }}</td>
                <td>{{ employee_tag.slug }}</td>
                <td>{{ employee_tag.position }}</td>
                <td>
                    <a href="{{ path('employee_tag_show', {'id': employee_tag.id}) }}">show</a>
                    <a href="{{ path('employee_tag_edit', {'id': employee_tag.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('employee_tag_new') }}">Create new</a>
{% endblock %}
