{% extends 'base.html.twig' %}

{% block title %}New EmployeeTag{% endblock %}

{% block body %}
    <h1>Create new EmployeeTag</h1>

    {{ include('employee_tag/_form.html.twig') }}

    <a href="{{ path('employee_tag_index') }}">back to list</a>
{% endblock %}
