{% extends 'base.html.twig' %}

{% block title %}EmployeeTag{% endblock %}

{% block body %}
    <h1>EmployeeTag</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ employee_tag.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ employee_tag.name }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ employee_tag.slug }}</td>
            </tr>
            <tr>
                <th>Position</th>
                <td>{{ employee_tag.position }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('employee_tag_index') }}">back to list</a>

    <a href="{{ path('employee_tag_edit', {'id': employee_tag.id}) }}">edit</a>

    {{ include('employee_tag/_delete_form.html.twig') }}
{% endblock %}
