{% extends "form_div_layout.html.twig" %}

{%- block choice_widget_expanded -%}
    <div class="card">
        <div class="card-header">
            {{ block('form_label') }}
        </div>
        <div {{ block('widget_container_attributes') }}>
            <ul class="list-group list-group-flush">
            {% set i=1 %}
            {%- for child in form %}
                <li class="list-group-item">
                    <div class="choice-{{i}} material-switch pull-right">
                        {{  child.vars.label }}
                        {{- form_widget(child) -}}
                        {{- form_label(child, null, {'label' : '-', 'label_attr': {'class': 'label-primary'}}) -}}
                    </div>
                </li>
                {% set i=i+1 %}
            {% endfor -%}
            </ul>
        </div>
    </div>

{%- endblock choice_widget_expanded -%}

{% block form_label %}
    {% if not compound %}
        {% set label_attr = label_attr|merge({'for': id}) %}
    {% endif %}

    {% if required %}
        {% set label_attr = label_attr|merge({
            'class': (label_attr.class|default('') ~ ' required')|trim
        }) %}
    {% endif %}

    {% if label is empty %}
        {% set label = name|humanize %}
    {% endif %}

    {% if label == '-' %}
        {% set label = '' %}
    {% endif %}

    <label
    {% for attrname, attrvalue in label_attr -%}
        {{ attrname }}="{{ attrvalue }}"
    {%- endfor %}
    >
    {{ label|trans({}, translation_domain) }}
    </label>
{% endblock form_label %}