<form method="post" action="{{ path('attendance_tag_delete', {'id': attendance_tag.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ attendance_tag.id) }}">
    <button class="btn">Delete</button>
</form>
