{% extends 'base.html.twig' %}

{% block title %}Edit AttendanceTag{% endblock %}

{% block body %}
    <h1>Edit AttendanceTag</h1>

    {{ include('attendance_tag/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('attendance_tag_index') }}">back to list</a>

    {{ include('attendance_tag/_delete_form.html.twig') }}
{% endblock %}
