{% extends 'base.html.twig' %}

{% block title %}AttendanceTag index{% endblock %}

{% block body %}
    <h1>AttendanceTag index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Slug</th>
                <th>Position</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for attendance_tag in attendance_tags %}
            <tr>
                <td>{{ attendance_tag.id }}</td>
                <td>{{ attendance_tag.name }}</td>
                <td>{{ attendance_tag.slug }}</td>
                <td>{{ attendance_tag.position }}</td>
                <td>
                    <a href="{{ path('attendance_tag_show', {'id': attendance_tag.id}) }}">show</a>
                    <a href="{{ path('attendance_tag_edit', {'id': attendance_tag.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('attendance_tag_new') }}">Create new</a>
{% endblock %}
