{% extends 'base.html.twig' %}

{% block title %}New AttendanceTag{% endblock %}

{% block body %}
    <h1>Create new AttendanceTag</h1>

    {{ include('attendance_tag/_form.html.twig') }}

    <a href="{{ path('attendance_tag_index') }}">back to list</a>
{% endblock %}
