{% extends 'base.html.twig' %}

{% block title %}AttendanceTag{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col">
                <h1>{{ attendance_tag.name }}</h1>
            </div>
        </div>

        {% for attendance in attendance_tag.attendances %}
            <div class="row">
                <div class="col">
                    <div class="bs-callout bs-callout-status-{{ attendance.status }}">
                        <h5>{{ attendance.date|date("l, d. F Y.") }} - <a href="{{ path('employee_show', { "id" : attendance.employee.id }) }}">{{ attendance.employee }}</a></h5>

                        <p>{{ attendance.comment }}</p>

                        {% for tag in attendance.tags %}
                            <a href="{{ path('attendance_tag_show', { "id" : tag.id }) }}" class="badge badge-info">{{ tag.name }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}


        <div class="row">
            <div class="col"><a href="{{ path('homepage') }}" class="btn btn-light">Back to Dashboard</a></div>
        </div>
    </div>

{% endblock %}
