
{{ form_start(form) }}

    <h4>Edit Employee details</h4>

    <div class="row">
        <div class="col">

            <div class="form-group row">

                {{ form_label(form.firstName) }}
                {{ form_errors(form.firstName) }}
                <div class="col-9">{{ form_widget(form.firstName) }}</div>
                {{ form_help(form.firstName) }}

            </div>

            <div class="form-group row">

                {{ form_label(form.lastName) }}
                {{ form_errors(form.lastName) }}
                <div class="col-9">{{ form_widget(form.lastName) }}</div>
                {{ form_help(form.lastName) }}

            </div>

            <div class="form-group row">

                {{ form_label(form.position) }}
                {{ form_errors(form.position) }}
                <div class="col-9">{{ form_widget(form.position) }}</div>
                {{ form_help(form.position) }}

            </div>

            <div class="form-group row">

                {{ form_label(form.startDate) }}
                {{ form_errors(form.startDate) }}
                <div class="col-9">{{ form_widget(form.startDate) }}</div>
                {{ form_help(form.startDate) }}

            </div>

            <div class="form-group row">

                {{ form_label(form.endDate) }}
                {{ form_errors(form.endDate) }}
                <div class="col-9">{{ form_widget(form.endDate) }}</div>
                {{ form_help(form.endDate) }}

            </div>

            {{ form_widget(form) }}

        </div>
    </div>
    <div class="row">
        <div class="col"><a href="{{ path('homepage') }}" class="btn btn-light">Back to Dashboard</a></div>
        <div class="col text-right"><button class="btn btn-primary">{{ button_label|default('Save') }}</button></div>
    </div>

{{ form_end(form) }}
