{% extends 'base.html.twig' %}

{% block bodyclass %} class="employee-form"{% endblock %}

{% block title %}Edit Employee{% endblock %}

{% block body %}


    <div class="container-fluid">

        <div class="row">
            <div class="col-4 offset-4">

                {{ include('employee/_form.html.twig', {'button_label': 'Update'}) }}

            </div>
        </div>
    </div>

{% endblock %}
