{% extends 'base.html.twig' %}

{% block bodyclass %} class="employee-form"{% endblock %}

{% block title %}New Employee{% endblock %}

{% block body %}
    <h1>Create new Employee</h1>

    {{ include('employee/_form.html.twig') }}

    <a href="{{ path('employee_index') }}">back to list</a>
{% endblock %}
