{% extends 'base.html.twig' %}

{% block title %}Employee - {{ employee.firstName }} {{ employee.lastName }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>{{ employee.firstName }} {{ employee.lastName }}</h1>
                <h4><em>{{ employee.position }}</em></h4>
                <p>Since {{ employee.startDate ? employee.startDate|date("l, d. F Y.") : '' }}</p>



            </div>
        </div>

        <div class="row">
            <div class="col">
                <a href="{{ path('homepage') }}" class="btn btn-primary float-left">back to dashboard</a>

                <a href="{{ path('employee_edit', {'id': employee.id}) }}" class="btn btn-primary float-right">edit</a>
            </div>
        </div>

        {% for attendance in important_attendances %}
        <div class="row">
            <div class="col">
                <div class="bs-callout bs-callout-status-{{ attendance.status }}">
                    <h5>{{ attendance.date|date("l, d. F Y.") }}</h5>

                    <p>{{ attendance.comment }}</p>

                    {% for tag in attendance.tags %}
                        <a href="{{ path('attendance_tag_show', { "id" : tag.id }) }}" class="badge badge-info">{{ tag.name }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    {%  if(false) %}
    {{ include('employee/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
