{% extends 'base.html.twig' %}

{% block bodyclass %} class="public-holliday-form"{% endblock %}

{% block title %}Public Holliday{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-6 offset-3">
                <h1 class="mb-2">Set a new public holliday date</h1>

                {{ form_start(form) }}

                <div class="form-group row">

                    {{ form_label(form.date) }}
                    {{ form_errors(form.date) }}
                    <div class="col-9">{{ form_widget(form.date) }}</div>
                    {{ form_help(form.date) }}

                </div>

                {{ form_widget(form) }}

                <div class="row mt-3">
                    <div class="col"><a href="{{ path('homepage') }}" class="btn btn-light">Back to Dashboard</a></div>
                    <div class="col text-right"><button class="btn btn-primary">{{ button_label|default('Save') }}</button></div>
                </div>

                {{ form_end(form) }}
            </div>
        </div>
    </div>


{% endblock %}