
// customize some Bootstrap variables
$primary: darken(#428bca, 20%);

$colorOffice: #00ff00;
$colorRemote: #ffcc00;
$colorAbsent: #ff0000;
$colorVacation: #0000ff;
$colorNonWorking: #953cff;
$colorNoInfo: #aeaeae;

$attendanceBoxSize: 32px;

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";
@import './components/callouts';
@import './components/material_switches';
@import './pages/home';
@import './pages/login';
@import './pages/attendance_form';

body {
  background-color: white;
}