{% form_theme form 'form/wrapped_checkboxes.html.twig' %}


{{ form_start(form) }}



    <h4>{{ form.vars.value.employee }} <span class="attendance-form-date-info">({{ form.vars.value.date|date('d.m.Y.') }})</span></h4>

    <div class="row">
        <div class="col-4">
            <label>Attendance</label>
            <div class="attendance-color-chooser">
                <div class="attendance-color-chooser-box attendance-status-1{% if(form.vars.value.status == 1) %} selected{% endif %}" data-status="1">Office</div>
                <div class="attendance-color-chooser-box attendance-status-2{% if(form.vars.value.status == 2) %} selected{% endif %}" data-status="2">Remote</div>
                <div class="attendance-color-chooser-box attendance-status-3{% if(form.vars.value.status == 3) %} selected{% endif %}" data-status="3">Absent</div>
                <div class="attendance-color-chooser-box attendance-status-4{% if(form.vars.value.status == 4) %} selected{% endif %}" data-status="4">Vacation</div>
                <div class="attendance-color-chooser-box attendance-status-5{% if(form.vars.value.status == 5) %} selected{% endif %}" data-status="5">Holiday</div>
            </div>

        </div>
        <div class="col-8">
            <div class="row mt-3 mb-3">
                <div class="col-12">{{ form_widget(form.tags) }}</div>
            </div>
        </div>
    </div>
    <div class="row mt-3 mb-3">
        <div class="col-12">{{ form_row(form.comment) }}</div>
        <div style="display:none">
            {{ form_widget(form) }}
        </div>
    </div>
    <div class="row">
        <div class="col"><a href="{{ path('homepage') }}" class="btn btn-light">Back to Dashboard</a></div>
        <div class="col text-right"><button class="btn btn-primary">{{ button_label|default('Save') }}</button></div>
    </div>

{{ form_end(form) }}
