{% extends 'base.html.twig' %}

{% block bodyclass %} class="attendance-form"{% endblock %}

{% block title %}Edit Attendance{% endblock %}

{% block body %}

    <div class="container-fluid">

        <div class="row">
            <div class="col-4 offset-4">
                {{ include('attendance/_form.html.twig') }}

            </div>
        </div>
    </div>

{% endblock %}
