{% extends 'base.html.twig' %}

{% block title %}New Vacation{% endblock %}

{% block body %}
    <h1>Create new vacation</h1>

    {{ include('attendance/_form.html.twig') }}



    <a href="{{ path('homepage') }}">back to homepage</a>


    <div>{{ dump(aj) }}</div>
{% endblock %}
