{% for vhost in nginx_vhosts %}
server {
    listen {{ vhost.listen | default('80 default_server') }};

    {% if vhost.server_name is defined %}
    server_name {{ vhost.server_name }};
    {% endif %}

    {% if vhost.root is defined %}
    root {{ vhost.root }};
    {% endif %}

    index {{ vhost.index | default('index.html index.htm') }};

    {% if vhost.error_page is defined %}
    error_page {{ vhost.error_page }};
    {% endif %}
    {% if vhost.access_log is defined %}
    access_log {{ vhost.access_log }};
    {% endif %}
    {% if vhost.error_log is defined %}
    error_log {{ vhost.error_log }} error;
    {% endif %}
}
{% endfor %}